body {
    margin: 0;
    background-image: url(Assets/counterBg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    position: static;

    z-index: 0;
}

.objectBtn {
    position: absolute;
    width: 20%;
    height: 20%;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: grab;
    touch-action: none; 
    outline: none;
}

.objectBtn:focus {
    outline: none;
}

#water {
    background-image: url("Assets/kettle.png");
    top: 45%;
    left: 60%;
    transform-origin: bottom right;
    z-index: 1;
    border: none;
}

#cup{
    background-image: url(Assets/cup.png);
    top: 45%;
    left: 5%;
    transform-origin: bottom right;
    z-index: 1;
    border: none;
}

#raspberry{
    width: 5%;
    height: 5%;
    position: absolute;
    top: 45%;
    left: 22%;
    z-index: 2;
    visibility: hidden;
    cursor: grab;
    touch-action: none; 
    outline: none;
}

#raspberryBowl{
    background-image: url(Assets/raspberrieBowl.png);
    top: 45%;
    left: 15%;
    transform-origin: bottom right;
    z-index: 1;
    border: none;
}

#milk {
    background-image: url("Assets/milk.png");
    top: 45%;
    left: 50%;
    transform-origin: bottom right;
    z-index: 1;
    border: none;
}
